{% extends './layout.html'%}
{% block title %}Universidad Libre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/asignacion.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <section class="container-input">
        <h1>Asignar asignaturas</h1>
        <form action="">
            <div class="items">
                <label class="style-label" for="nombre">Nombre</label>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                <input disabled type="text" id="nombre" class="style-input" name="name-doc" value="{{ docente.nombre }}">
                <input type="hidden" id="id_docente" name="id_docente" value="{{ id_doc }}">
                {% endif %}
                {% endfor %}
            </div>
            <div class="items">
                <label class="style-label" for="asignatura">Asignaturas</label>
                <select id="asignatura">
                    <option value="" selected disabled>Elige una opción</option>
                    {% for subject in subjects %}
                    <option  value="{{ subject.codigo }}">{{ subject.nombre }}</option>
                    {% endfor %}
                </select>
                <a href="/asignaturas" id="btn-plus-asignaturas"><i style="color:white;" class="fa-solid fa-diamond-turn-right"></i></a>
            </div>
            <div class="items">
                <label class="style-label" for="grupo">Grupo</label>
                <select id="grupo" name="grupo-doc">
                    <option value="" selected disabled>Elegir una opción</option>
                    {% for group in groups %}
                    <option  value="{{ group.nombre }}">{{ group.nombre }}</option>
                    {% endfor %}
                </select>
                <a id="btn-plus"><i style="color:white;" class="fa-solid fa-plus"></i></a>
            </div>
            <div class="items">
                <label class="style-label" for="semestre">Periodo</label>
                <input type="number" step="1" id="semestre" class="style-input" name="semestre-doc">
            </div>
            <div class="items">
                <button id="asig_usu">Asignar</button>
            </div>
            
        </form>
    </section>
</main>
{% endblock%}