{% extends './layout.html'%}
{% block title %}Unilibre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/docentes.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <section class="items">
        <div class="search">
            <div class="container-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Ingresa el nombre del docente" class="style-input">
            </div>
        </div>
        <div class="docentes">
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>
            <div class="view-docentes">
                <span>William Insignares</span>
                <span>1043523421</span>
            </div>        
        </div>

        <div class="btns">
            <button>
                <div class="btn">
                  <i class="fa-solid fa-pen-to-square"></i>
                  <span>Editar docente</span>
               </div>
            </button>
            <button>
                <a href="/sign_up" class="btn">
                   <i class="fa-solid fa-users-between-lines"></i>
                   <span>Agregar docentes</span>
                </a>
            </button>
            <button>
                <div class="btn">
                  <i class="fa-solid fa-chart-line"></i>
                  <span>Asignar plan de trabajo</span>
                </div>
            </button>
            <button>
                <div class="btn">
                  <i class="fa-solid fa-book-bookmark"></i>
                  <span>Asignar asignaturas</span>
                </div>
            </button>
        </div>


    </section>
</main>
{% endblock%}