{% extends './layout.html' %}
{% block title %}Universidad Libre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/history.css') }}">
<main> 
    <div class="title">
        <h1>Historial de plan de trabajo de:</h1>
        {% for docente in docentes %}
        {% if docente.id == id_doc %}
        <h2>{{ docente.nombre }}</h2>
        {% endif %}
        {% endfor %}
        
    </div>
    <section class="chart-scroll">
        {% for plant in plantr %}
        {% if id_doc == plant.docente %}
         <div class="scroll-child" data-id="{{ plant.id }}">         
            <div class="info">
                <h3>Año</h3>
                <span>{{ plant.año }}</span>
            </div>
            <div class="info">
                <h3>Periodo</h3>
                <span>{{ plant.semestre }}</span>
            </div>
            <div class="info">
                <h3>Valoración</h3>
                <span>--</span>
            </div>                 
         </div>    
        {% endif %}
        {% endfor %}     
    </section>
</main>
<script src="{{ url_for('static', filename='JS/historial.js') }}"></script>
{% endblock%}
