{% extends './layout.html' %}
{% block title %}Universidad Libre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/history.css') }}">
<main> 
    <div class="title">
        <h1>Historial de plan de trabajo de:</h1>
        <h2>Mauricio de Jesús Molina Peña</h2>
    </div>
    <section class="chart-scroll">
         <div class="scroll-child">
            <div class="info">
                <h3>Año</h3>
                <span>2023</span>
            </div>
            <div class="info">
                <h3>Periodo</h3>
                <span>2</span>
            </div>
            <div class="info">
                <h3>Valoración</h3>
                <span>--</span>
            </div>
         </div>
         <div class="scroll-child">
            <div class="info">
                <h3>Año</h3>
                <span>2023</span>
            </div>
            <div class="info">
                <h3>Periodo</h3>
                <span>2</span>
            </div>
            <div class="info">
                <h3>Valoración</h3>
                <span>5.0</span>
            </div>
         </div>
         <div class="scroll-child">
            <div class="info">
                <h3>Año</h3>
                <span>2023</span>
            </div>
            <div class="info">
                <h3>Periodo</h3>
                <span>2</span>
            </div>
            <div class="info">
                <h3>Valoración</h3>
                <span>5.0</span>
            </div>
         </div>
         <div class="scroll-child">
            <div class="info">
                <h3>Año</h3>
                <span>2023</span>
            </div>
            <div class="info">
                <h3>Periodo</h3>
                <span>2</span>
            </div>
            <div class="info">
                <h3>Valoración</h3>
                <span>5.0</span>
            </div>
         </div>
         <div class="scroll-child">
            <div class="info">
                <h3>Año</h3>
                <span>2023</span>
            </div>
            <div class="info">
                <h3>Periodo</h3>
                <span>2</span>
            </div>
            <div class="info">
                <h3>Valoración</h3>
                <span>5.0</span>
            </div>
         </div>
         <div class="scroll-child">
            <div class="info">
                <h3>Año</h3>
                <span>2023</span>
            </div>
            <div class="info">
                <h3>Periodo</h3>
                <span>2</span>
            </div>
            <div class="info">
                <h3>Valoración</h3>
                <span>5.0</span>
            </div>
         </div>
    </section>
   
</main>
{% endblock%}
