<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unilibre</title>
    <link href="../static/multimedia/logoo.png" rel="icon" />  
    <link href="../static/Styles/home.css" rel="stylesheet" />
</head>
<body>
   <header class="header">
           <img src="../static/multimedia/logo.png" width="320px" height="90px">
           <nav>
            <ul>
                <li><a href="#" class="link">Inicio</a></li>
                <li><a href="#" class="link">Docentes</a></li>
                <li><a href="#" class="link">Historial</a></li>
                <div>|</div>
                <li><a>Salir</a></li>
            </ul>
           </nav>
   </header>
   <main>
    <div>
        <section>
            <h1>BIENVENIDOS AL SISTEMA DE GESTIÓN DE PLAN DE TRABAJO</h1>
            <hr>
            <p>Acá podrás organizar y gestionar la nómina de nuestros docentes </p>
            <a>Gestionar plan de trabajo</a>
        </section>
    </div>
    <div>
        <img src="../static/multimedia/26158.jpg" width="350px" height="350px">
    </div>
   </main>
</body>
</html>

