{% extends './layout.html' %}
{% block title %}Unilibre{% endblock %}

{% block header %}
    {{ super() }}
{% endblock%}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/home.css') }}">
   <main>
    <div>
        <section>
            <h1>BIENVENIDOS AL SISTEMA DE GESTIÓN DE PLAN DE TRABAJO</h1>
            <hr>
            <p>Acá podrás organizar y gestionar el plan de trabajo de nuestros docentes </p>
            <a href="/choose">Gestionar plan de trabajo</a>
        </section>
    </div>
    <div>
        <img src="../static/multimedia/26158.png">
    </div>
    
   </main>
{% endblock%}

