<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/layout.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='multimedia/logoo.png') }}">
    
</head>
<body>
    {% block header %}
    <header class="header">
        <a href="/"><img src="{{ url_for('static', filename='multimedia/logo.png') }}"></a>
        <nav>
            <ul>
                <li><a class="link" href="/" class="link">Inicio</a></li>
                {% if rol == "Administrador" %}
                <li><a class="link" href="/docentes" class="link">Docentes</a></li>
                <li><a class="link" href="/info_docentes/{{ id_doc }}" class="link">Mi informacion</a></li>
                {% else %}
                <li><a class="link" href="/info_docentes/{{ id_doc }}" class="link">Mi informacion</a></li>
                <li><a class="link" href="/historial/{{ id_doc }}" class="link">Historial</a></li>
                {% endif %}         
                <div class="line">|</div>
                <a href="/logout"><li id="out">Salir</li></a>
            </ul>
        </nav>
    </header>
    {% endblock%}
    {% block body %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='JS/InicioOffice.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/note.js') }}"></script>
</body>
</html>