<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Login.css') }}">
</head>

<body>
    <div class="top-left"></div>

    <div class="chart-log">
        <div>
            <img src="../static/multimedia/logo.png">
        </div>

        <div>
            <h2>Iniciar Sesión</h2>
            <form action="">
                <div class="input-container">
                    <input type="Email" placeholder="Usuario" id="Email" name="email">
                </div>

                <div class="input-container">
                    <input type="password" placeholder="Contraseña" id="Password" name="password">
                </div>

                <button class="login">Iniciar sesión</button>

               <div class="Contra_regis">
                <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
               </div>

                <div class="account">
                    <div></div>
                    <p>O con tu cuenta unilibre.edu.co</p>
                    <div></div>
                </div>
                                    <div class="office">
                        <button class="buttons" onclick="iniciarSesion()" type="submit">Ingresar</button>
                    </div>
            </form>

        </div>
        
    </div>
    <script src="../static/JS/InicioOffice.js"></script>
</body>

</html>

