{% extends './layout.html'%}
{% block title %}Universidad Libre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/plan.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <section class="container-input">
        <h1>Asignar plan de trabajo</h1>
        <form action="">
            <article class="child-form">
                <div class="container-w50">
                    <div class="elements-input">
                        <h3>Nombre</h3>
                        {% for docente in docentes %}
                        {% if docente.id == id_doc %}
                        <input disabled id="nom_pro" data-idoc="{{ docente.id }}" name="name-docente" type="text" class="style-input" value="{{ docente.nombre }}">
                        {% for jornad in jornads %}
                        {% if jornad.id == docente.jornada %}
                        <input hidden id="inputhidden" type="text" value="{{ jornad.nombre }}">
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="elements-input">
                        <h3>Año</h3>
                        <input disabled name="ano" type="number" class="style-input input-able" id="año">
                    </div>
                    <div class="elements-input">
                        <h3>Periodo</h3>
                        <input disabled name="semestre" type="number" class="style-input input-able" id="semestre">
                    </div>
                    <div class="elements-input final-input">
                        <h3>Horas totales</h3>
                        <span id="hoursTotal">0</span>
                    </div>
                    <button class="button" id="btnAsignar">
                        Asignar plan de trabajo
                    </button>
                </div>
                <div class="container-w50">
                    {% set actividades_mostradas = [] %}
                    {% for actividad in actividades %}
                        {% set mostrado = false %}
                        <details class="details">
                            <summary>{{ actividad.nombre }}</summary>
                            {% for item in items %}
                                {% if item.TipodeAct == actividad.id %}
                                    {% if not mostrado and item.one_select and actividad.id not in actividades_mostradas %}
                                        {% set mostrado = true %}
                                        {% set _ = actividades_mostradas.append(actividad.id) %}
                                        <span id="actOpc">Evaluar al menos una de las siguientes actividades:</span>
                                    {% endif %}

                                    {% if not item.one_select %}
                                        <div class="row">
                                            <div class="row-child">
                                                <span class="items" data-id="{{ item.id }}">{{ item.nombre }}</span>
                                            </div>
                                            <div class="row-child">
                                                <input type="number" class="style-input-3 w-20 inputHr" name="hrs" id="{{ item.id }}nmb">
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="row-child opc">
                                                <span class="items" data-id="{{ item.id }}">{{ item.nombre }}</span>
                                            </div>
                                            <div class="row-child opc">
                                                <input type="number" class="style-input-3 w-20 inputHr" name="hrs" id="{{ item.id }}nmb">
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}  
                        </details>
                    {% endfor %}
                </div>
            </article>
        </form>
    </section>
</main>
<script src="{{ url_for('static', filename='JS/planTrabajo.js') }}"></script>
{% endblock%}