{% extends './layout.html'%}
{% block title %}Unilibre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/plan.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <section class="container-input">
        <h1>Asignar plan de trabajo</h1>
        <form action="">
            <article class="child-form">
                <div class="container-w50">
                    <div class="elements-input">
                        <h3>Nombre</h3>
                        <input disabled name="name-docente" type="text" class="style-input">
                    </div>
                    <div class="elements-input">
                        <h3>Año</h3>
                        <input name="ano" type="number" class="style-input">
                    </div>
                    <div class="elements-input">
                        <h3>Semestre</h3>
                        <input name="semestre" type="number" class="style-input">
                    </div>
                    <button class="button">
                        Asignar plan de trabajo
                    </button>
                </div>
                <div class="container-w50">
                    {% for actividad in actividades %}
                    <details class="details">
                        <summary>{{ actividad.nombre }}</summary>
                        {% for item in items %}
                            {% if item.TipodeAct == actividad.id %}
                            <div class="row">
                                <div class="row-child">
                                    <span id="{{ item.id }}">{{ item.nombre }}</span>
                                </div>
                                <div class="row-child">
                                    <input type="checkbox" class="style-input-3" name="boolean" id="{{ item.id }}chb">
                                </div>
                                <div class="row-child">
                                    <input type="number" class="style-input-3 w-20" name="hrs" id="{{ item.id }}nmb">
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}   
                    </details>
                    {% endfor %}
                </div>
            </article>
        </form>
    </section>
</main>
{% endblock%}