<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unilibre</title>
    <link href="../static/multimedia/logoo.png" rel="icon" />  
    <link href="../static/Styles/registrarActividad.css" rel="stylesheet" />
</head>
<body>
   <header class="header">
           <img src="../static/multimedia/logo.png">
           <nav>
            <ul>
                <li><a href="homepage.html" class="link">Inicio</a></li>
                <li><a href="docentes.html" class="link">Docentes</a></li>
                <li><a href="#" class="link">Historial</a></li>
                <div>|</div>
                <li id="out"><a>Salir</a></li>
            </ul>
           </nav>
   </header>
   <main>
        <div class="recuadro">
            <h2>Registrar actividad</h2>
            <form action="">
                <div class="input-container">
                    <div class="label">
                        <label for="actividad" class="style-label">Registrar actividad</label>
                    </div>
                    <div class="input">
                        <input type="text" id="actividad" name="actividad" class="style-input style-input-w-100">
                    </div>

                </div>
                <div class="input-container">
                    <div class="label">
                        <label for="cantidad" class="style-label">Cantidad items</label>
                    </div>

                    <div class="input">
                        <input type="number" id="cantidad" name="cantidad-items" class="style-input style-input-w-70">
                    </div>

                </div>
                <div class="input-container">
                    <div class="button-firts">
                        <button id="new-activitie">Registrar actividad</button>
                    </div>

                    <div class="button-second">
                        <button class="clear">Limpiar</button>
                    </div>

                </div>
            </form>
            
            
        </div>
        <div class="recuadro inputs-generate">
            <h2>Items de la actividad</h2>
            <div class="on-inputs">
                
            </div>
        </div>
   </main>
   <script src="../config/static/JS/NewsActivities.js"></script>
</body>
</html>
