{% extends './layout.html' %}
{% block title %}Unilibre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}

<main>
    <section class="child-recuadro">
        <form action="">
            <div class="row">
                <div>
                    <label for="activities" class="style-label">Nombre actividad</labe>
                </div>
                <div>
                    <input type="text" name="activities" class="activities style-input" id="activities">
                </div>
            </div>
            <div class="row row-2">
                <div>
                    <label for="cantidad" class="style-label">Cantidad de items</labe>
                </div>
                <div class="container-cant">
                    <input type="number" name="cantidad" class="cantidad style-input" id="cantidad">
                </div>
            </div>

            <div class="row">
                <div>
                    <button>Registrar Asignatura</button>
                </div>
                <div>
                    <button>Limpiar</button>
                </div>
            </div>
            

        </form>
    </section>
    <section class="child-recuadro">
        <div class="container-items">
            <div class="input-item">
                <input type="text" class="input-new" placeholder="Ingresa nombre item" name="item-name">
            </div>
            <div class="check">
                <input type="checkbox" name="check">
            </div>
            <div class="hrs">
            </div>
        </div>
    </section>
</main>
{% endblock%}

