{% extends './layout.html' %}
{% block title %}Unilibre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/registrarActividad.css') }}">
<main>
    <section class="child-recuadro">
        <form action="" class="recuadro">
            <div class="input-f">
                <label class="style-label" for="actividad">Nombre actividad</label>
                <input type="text" name="actividad" class="style-input" id="actividad">
            </div>
            <div class="input-s">
                <label class="style-label" for="cantidad">Cantidad actividad</label>
                <input type="number" name="cantidad" class="style-input" id="cantidad" step="1">
            </div>
            <div class="input-b">
                <button>Registrar actividad</button>
                <button>Limpiar</button>
            </div>
        </form>
    </section>
    <section class="child-recuadro" id="generate">        
    </section>
</main>
{% endblock%}

