{% extends './layout.html' %}
{% block title %}Universidad Libre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/revisar.css') }}">
<main>
    <div class="container-fluid">
        <h1>Adalberto Alvarez</h1>
        <div class="accordion">
            <div class="categories">
                {% if rol == "Docente" %}
                <details class="details detalles">
                    <summary>Proyección social</summary>
                    <div class="row">
                        <div class="row-child">
                            <span>Formación de recurso humano en investigación</span>
                        </div>
                        <div class="row-child">
                            <input checked disabled type="checkbox" class="style-input-3 w-20" name="check">
                        </div>
                        <div class="row-child">
                            <input disabled type="number" class="style-input-3 w-20" name="hrs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-child">
                            <span>Formación de recurso humano en investigación</span>
                        </div>
                        <div class="row-child">
                            <input checked disabled type="checkbox" class="style-input-3 w-20" name="check">
                        </div>
                        <div class="row-child">
                            <input disabled type="number" class="style-input-3 w-20" name="hrs">
                        </div>
                    </div>
                </details>
                {% else %}
                <details class="details detalles">
                    <summary>Proyección social</summary>
                    <div class="row">
                        <div class="row-child">
                            <span>Formación de recurso humano en investigación</span>
                        </div>
                        <div class="row-child">
                            <input type="checkbox" class="style-input-3 w-20" name="check">
                        </div>
                        <div class="row-child">
                            <input type="number" class="style-input-3 w-20" name="hrs">
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-child">
                            <span>Formación de recurso humano en investigación</span>
                        </div>
                        <div class="row-child">
                            <input type="checkbox" class="style-input-3 w-20" name="check">
                        </div>
                        <div class="row-child">
                            <input type="number" class="style-input-3 w-20" name="hrs">
                        </div>
                    </div>
                </details>
                {% endif %}
            </div>
            <div class="calificacion">                
                {% if rol == "Administrador" %}
                <span>Califica al docente en este espacio!</span>
                <input id="note" type="number" step="0.1" min="0" max="5" class="style-input"></input>
                <button id="button-c">
                    Calificar docente
                </button>
                {% else %}
                <span id="calificacion">Esta es tu calificación:</span>
                <h2>5,0</h2>
                <div class="hours">
                    <span>Horas totales:</span>
                    <h4>40</h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock%}