{% extends './homepage.html' %}
{% block title %}Universidad Libre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/view_docentes.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <section class="title">
        <h1>Información docente</h1>
        <a href="/docentes" class="back">Regresar</a>
    </section>
    <section>
        <div class="container-50 first-container">
            <div class="info-dc">
                <h3 id="nombre">Nombre</h3>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                <span id="name">{{ docente.nombre }}</span>
                <button onclick="editarValor('nombre', 'name', '{{ docente.id }}')"><i class="fa-solid fa-pen-to-square"></i></button>
                {% endif %}
                {% endfor %}
            </div>
            <div class="info-dc">
                <h3>Identificación</h3>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                <span>{{ docente.id }}</span>
                {% endif %}
                {% endfor %}
            </div>
            <div class="info-dc">
                <h3 id="jornada">Jornada</h3>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                {% for jornada in jornads %}
                {% if docente.jornada == jornada.id %}
                <span id="jor">{{ jornada.nombre }}</span>

                <button onclick="editarValor('jornada', 'jor', '{{ docente.id }}')"><i class="fa-solid fa-pen-to-square"></i></button>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="info-dc">
                <h3 id="formacion">Formación</h3>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                <span id="level_form">{{ docente.nivel_formacion }}</span>
                
                <button onclick="editarValor('formacion', 'level_form', '{{ docente.id }}')"><i class="fa-solid fa-pen-to-square"></i></button>
                {% endif %}
                {% endfor %}
            </div>
            <div class="info-dc">
                <h3 id="rol_">Rol</h3>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                {% for rol in rols %}
                {% if docente.rol == rol.id %}
                <span id="rol">{{ rol.nombre }}</span>
                
                <button onclick="editarValor('rol','rol','{{ docente.id }}')"><i class="fa-solid fa-pen-to-square"></i></button>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="info-dc">
                <h3 id="usuario">Usuario</h3>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                <span id="user">{{ docente.usuario }}</span>
                
                <button onclick="editarValor('usuario','user', '{{ docente.id }}')"><i class="fa-solid fa-pen-to-square"></i></button>
                {% endif %}
                {% endfor %}
            </div>
            <div class="info-dc">
                <h3 id="contrasena">Contraseña</h3>
                {% for docente in docentes %}
                {% if docente.id == id_doc %}
                <span id="password"><input disabled type="password" value="{{docente.contrasena}}"></span>
                
                <button onclick="editarValor('contrasena','password', '{{ docente.id }}')"><i class="fa-solid fa-pen-to-square"></i></button>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="container-50 second">
            <div class="docente-container">
                <button><i class="fa-solid fa-trash-can"></i></button>
                <div><h3>Asignatura</h3><span>Redes de computadores</span></div>
                <div><h3>Código asignatura</h3><span>1044</span></div>
                <div><h3>Grupo</h3><span>SA</span></div>
                <div><h3>Semestre</h3><span>6</span></div>    
            </div>
            <div class="docente-container">
                <button><i class="fa-solid fa-trash-can"></i></button>
                <div><h3>Asignatura</h3><span>Redes de computadores</span></div>
                <div><h3>Código asignatura</h3><span>1044</span></div>
                <div><h3>Grupo</h3><span>SA</span></div>
                <div><h3>Semestre</h3><span>6</span></div>    
            </div>

            <div class="docente-container">
                <button><i class="fa-solid fa-trash-can"></i></button>
                <div><h3>Asignatura</h3><span>Redes de computadores</span></div>
                <div><h3>Código asignatura</h3><span>1044</span></div>
                <div><h3>Grupo</h3><span>SA</span></div>
                <div><h3>Semestre</h3><span>6</span></div>    
            </div>

            <div class="docente-container">
                <button><i class="fa-solid fa-trash-can"></i></button>
                <div><h3>Asignatura</h3><span>Redes de computadores</span></div>
                <div><h3>Código asignatura</h3><span>1044</span></div>
                <div><h3>Grupo</h3><span>SA</span></div>
                <div><h3>Semestre</h3><span>6</span></div>    
            </div>
            <div class="docente-container">
                <button><i class="fa-solid fa-trash-can"></i></button>
                <div><h3>Asignatura</h3><span>Redes de computadores</span></div>
                <div><h3>Código asignatura</h3><span>1044</span></div>
                <div><h3>Grupo</h3><span>SA</span></div>
                <div><h3>Semestre</h3><span>6</span></div>    
            </div>
            <div class="docente-container">
                <button><i class="fa-solid fa-trash-can"></i></button>
                <div><h3>Asignatura</h3><span>Redes de computadores</span></div>
                <div><h3>Código asignatura</h3><span>1044</span></div>
                <div><h3>Grupo</h3><span>SA</span></div>
                <div><h3>Semestre</h3><span>6</span></div>    
            </div>
            
        </div>

    </section>
</main>
<script src="{{ url_for('static', filename='JS/edit.js') }}"></script>
{% endblock%}




    

