{% extends './homepage.html' %}
{% block title %}Unilibre{% endblock %}
{% block header %}
    {{ super() }}
{% endblock%}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='Styles/view_docentes.css') }}">
<main>
    <section class="title">
        <h1>Adalberto Alvarez</h1>
        <a href="/docentes" class="back">Regresar</a>
    </section>
    <section>
        <div class="container-50 first-container">
            <div class="info-dc">
                <h3>Identificación</h3>
                <span>1043584533</span>
            </div>
            <div class="info-dc">
                <h3>Cargo</h3>
                <span>Jornada completa</span>
            </div>
            <div class="info-dc">
                <h3>Titulos</h3>
                <span><a href="" id="titles">Ver titulos</a></span>
            </div>
            <div class="info-dc">
                <h3>Titulo más alto</h3>
                <span>Maestría</span>
            </div>
            <div class="info-dc">
                <h3>Universidad</h3>
                <span>Simón Bolivar</span>
            </div>
            <div class="info-dc">
                <h3>Ciudad</h3>
                <span>Barranquilla, Átlantico.</span>
            </div>
            <div class="info-dc">
                <h3>Fecha de expedición</h3>
                <span>10/12/2000</span>
            </div>
        </div>
        <div class="container-50 second">
            <div class="docente-container">
                <h3>Área</h3>
                <span>Ingeniería</span>
                <!-- Agrega otros datos aquí -->
            </div>
        
            <!-- Container 2 -->
            <div class="docente-container">
                <h3>Área</h3>
                <span>Ingeniería</span>
                <!-- Agrega otros datos aquí -->
            </div>

            <div class="docente-container">
                <h3>Área</h3>
                <span>Ingeniería</span>
                <!-- Agrega otros datos aquí -->
            </div>

            <div class="docente-container">
                <h3>Área</h3>
                <span>Ingeniería</span>
                <!-- Agrega otros datos aquí -->
            </div>
            <div class="docente-container">
                <h3>Área</h3>
                <span>Ingeniería</span>
                <!-- Agrega otros datos aquí -->
            </div>
            <div class="docente-container">
                <h3>Área</h3>
                <span>Ingeniería</span>
                <!-- Agrega otros datos aquí -->
            </div>
            
        </div>

    </section>
</main>
{% endblock%}




    

