<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unilibre</title>
    <link href="../static/multimedia/logoo.png" rel="icon" />  
    <link href="../static/Styles/view_docentes.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <img src="../static/multimedia/logo.png" width="320px" height="90px">
        <nav>
            <ul>
                <li><a href="#" class="link">Inicio</a></li>
                <li><a href="#" class="link">Docentes</a></li>
                <li><a href="#" class="link">Historial</a></li>
                <div>|</div>
                <li><a>Salir</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div class="header">
            <h1 class="profesor-name">Adalberto Alvarez</h1>
            
        </div>
        <div class="profesor-info">
            <p>ID: 12345</p>
            <p>Dedicación: jornada completa</p>
            <p>Título más alto: maestria</p>
            <p>Títulos: Ingeniero en Sistemas</p>
            <p>Universidad: Universidad libre</p>
            <p>Ciudad: Barranquilla</p>
            <p>Fecha: 10/12/2000</p>
        </div>

        <div class="container">

            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>

            <div class="box">
                <p>Área: Otra área</p>
                <p>Asignatura: Otra asignatura</p>
                <p>Cursos: 3</p>
                <p>Jornada: Nocturna</p>
                <p>Horas: 8</p>
            </div>

            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>
            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>
            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>
            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>
            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>
            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>
            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>
            <div class="box">
                <p>Área: Básica de Ingeniería</p>
                <p>Asignatura: Sistemas Operativos</p>
                <p>Cursos: 2</p>
                <p>Jornada: Diurna</p>
                <p>Horas: 5</p>
            </div>



























        </div>
    </main>
</body>
</html>

    

