@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Modak&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@500&family=Poppins:wght@500&family=Righteous&family=Roboto+Mono:wght@300&family=Work+Sans:wght@100;300;400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: width 0.3s ease;
    font-family: 'Montserrat';
    /* border: 1px solid black; */
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 1.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    position: relative;
}

header img {
    position: relative;
    left: 20px;
}

nav {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    background: linear-gradient(#B70811, #890209);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    right: 0;
    box-shadow: 10px 15px 10px rgb(38, 38, 38);
    outline: none;
    border: none;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    color: white;
}



nav ul li {
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}


#out {
    background-color: white;
    color: #B70811;
    padding: 0 10px;
    border-radius: 5px;
}

a:not([id="out"]) {
    color: white;
    text-decoration: none;
}



main {
    width: 100%;
    display: flex;
    height: 80vh;

}

h1 {
    font-size: 20px;
    text-align: center;
}

.items {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.view-docentes {
    border: 1px solid black;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 90px;
}

span {
    color: #B70811;
    user-select: none;
}

.general i {
    color: #B70811;
}


i {
    font-size: 25px;
    color: #B70811;
}


.container-filter {
    border: 1px solid black;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-left: 10px;
}

.items .search {
    height: 10%;
    width: 50%;
    margin-top: 20px;
}


.style-input {
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #5e5e5e;
    border: none;
    height: 3em;
    padding: 0 4px;
    font-family: 'Montserrat';
    width: 90%;
    margin-left: 10px;
    border-radius: 10px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.docentes {
    border-radius: 10px;
    width: 50%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-x: hidden;
}

.btns {
    width: 63%;
    height: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    padding: 5px;
    border-radius: 10px;
    height: 55px;
    background-color: white;
    box-shadow: .1rem .1rem .2rem black;
    border: none;
    outline: none;
}

.btns .btn>span {
    opacity: 0;
    transition: opacity .2s ease;
}

.btns .btn:hover>span {
    opacity: 1;
}

.btns .btn:hover>i {
    position: relative;
    bottom: 10px;
    font-size: 30px;
    transition: all .5s ease;
}

.btns a {
    text-decoration: none;
    color: #B70811;
}


.header img {
    width: 320px;
    height: 90px;
}

.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-search {
    width: 70%;
    display: flex;
    align-items: center;
}

.view-docentes {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 2px solid transparent;
    transition: border 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
}

.view-docentes.selected {
    border: 3px solid red;
    transition: 0.1s;
    transform: scale(0.97);
}



.general {
    display: flex;
    width: 100%;
}

.trash {
    margin-left: -2px;
}


.slide-out {
    animation: slideOut 0.5s ease-in-out;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.btns .btn:hover {
    transition: all 0.1s ease;
    transform: scale(1.3);
    width: 160px;
}


#docentes-container {
    position: relative;
}

#docentes-container button {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#docentes-container button a{
    width: fit-content;
    padding: 7px;
    height: fit-content;
    background-color: #B70811;
}


#docentes-container button i{
    color: white;
}


@media only screen and (max-width: 768px) {
    nav ul li {
        font-size: 12px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    .header img {
        width: 230px;
        height: 60px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    main div:last-child img {
        position: relative;
        right: 30px;
        width: 245px;
        height: 245px;
    }

    nav ul li {
        font-size: 13px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }


}

@media only screen and (max-width: 550px) {
    .header img {
        width: 175px;
        height: 50px;
    }

    nav ul li {
        font-size: 10px;
        padding-left: 10px
    }

    nav {
        height: 50%
    }
}

@media only screen and (min-width: 1910px) and (min-height: 950px) {


    nav ul li {
        font-size: 26px;
    }

    main div:first-child section p {
        font-size: 22px;
    }

    main div:first-child section a {
        font-size: 25px;
    }

    .header img {
        width: 560px;
        height: 150px;
    }
}