@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Modak&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@500&family=Poppins:wght@500&family=Righteous&family=Roboto+Mono:wght@300&family=Work+Sans:wght@100;300;400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: width 0.3s ease;
    font-family: 'Montserrat';

}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

header {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    position: relative;
}

header img {
    position: relative;
    left: 20px;
}

nav {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    background: linear-gradient(#B70811, #890209);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    right: 0;
    box-shadow: 10px 15px 10px rgb(38, 38, 38);
    outline: none;
    border: none;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    color: white;
}

nav ul li {
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}


#out {
    background-color: white;
    color: #B70811;
    padding: 0 10px;
    border-radius: 5px;
}

a:not([id="out"]){
    color: white;
    text-decoration: none;
}


main {
    width: 100%;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header img {
    width: 320px;
    height: 90px;
}

h2 {
    font-family: 'Montserrat';
    margin-top: 14px;
}

h1{
    color: #B70811;
}

.recuadro {
    background-color: white;
    height: 68vh;
    z-index: 1;
    border-radius: 1rem;
    border: none;
    box-shadow: .6rem .6rem 1rem rgb(62, 62, 62);
    width: 85%;
    display: flex;
}

.child-recuadro {
    width: 50%;
    height: 100%;
}

.child-recuadro:first-of-type .recuadro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.child-recuadro:first-of-type .input-f,
.input-s,
.input-b, .input-c {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.inputs-final{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.child-recuadro:first-of-type .input-b {
    justify-content: space-evenly;
}

.child-recuadro:first-of-type .input-b button {
    cursor: pointer;
    width: 50%;
}

.child-recuadro:first-of-type .input-b button:first-of-type {
    background-color: #B70811;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 20px;
    border: none;
    outline: none;
}

.child-recuadro:first-of-type .input-b button:last-of-type {
    background-color: transparent;
    color: #B70811;
    border: 1px solid #B70811;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}

main .child-recuadro:first-of-type form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.style-input {
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #5e5e5e;
    border: none;
    height: 3em;
    padding: 0 4px;
    font-family: 'Montserrat';
    width: 70%;
}





.style-label {
    font-family: 'Montserrat';
    color: #B70811;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.child-recuadro:last-of-type {
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
}



.style-input-check {
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #5e5e5e;
    border: none;
    height: 1.5em;
    padding: 0 4px;
    font-family: 'Montserrat';
    width: 30%;
}

#generate {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: .6rem .6rem 1rem rgb(62, 62, 62);
    position: relative;
    margin: 0 auto;
    border-radius: 16px;
    padding: 10px;
}

.title-activities{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.style-input-3 {
    background-color: #D9D9D9;
    height: 10%;
    width: 90%;
    color: #5e5e5e;
    border-radius: 10px;
    padding-left: 10px;
    min-height: 20%;
    border: none;
}


input{
    color: #B70811;
    font-weight: 500;
    font-size: 17px;
}

.h-10-90 .title-activities{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}




@media only screen and (max-width: 768px) {
    nav ul li {
        font-size: 12px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    .header img {
        width: 230px;
        height: 60px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    main div:last-child img {
        position: relative;
        right: 30px;
        width: 245px;
        height: 245px;
    }

    nav ul li {
        font-size: 13px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }


}

@media only screen and (max-width: 550px) {
    .header img {
        width: 175px;
        height: 50px;
    }

    nav ul li {
        font-size: 10px;
        padding-left: 10px
    }

    nav {
        height: 50%
    }
}


