@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Modak&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@500&family=Poppins:wght@500&family=Righteous&family=Roboto+Mono:wght@300&family=Work+Sans:wght@100;300;400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: width 0.3s ease;
    font-family: 'Montserrat';
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    position: relative;
}

header img {
    position: relative;
    left: 20px;
}

nav {
    width: 50%;
    height: 70%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    border: none;
    background: linear-gradient(#B70811, #890209);
    position: absolute;
    right: 0;
    box-shadow: 10px 15px 10px rgb(38, 38, 38);
    outline: none;
    border: none;
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    color: white;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 500;
}

nav li .link {
    text-decoration: none;
    cursor: pointer;
    color: white;
    position: relative;
}

nav ul li .link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

nav ul li .link:hover::before {
    width: 100%;
}

nav ul li:last-of-type a {
    color: white;
    cursor: pointer;
}

nav ul div {
    color: white;
    font-size: 20px;
}



nav ul li:last-child {
    background-color: white;
    color: #B70811;
    padding: 0 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section {
    width: 100%;
}

section:first-of-type {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}



section:first-of-type h1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: #B70811;
}

section:first-of-type a {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #B70811;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

section:last-of-type {
    height: 80%;
    display: flex;
}

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60% !important;
}

.second {
    overflow-y: auto;
    height: 100%;
    width: 25%;
}

.docente-container {
    width: 90%;
    height: 60%;
    margin: 20px 6px;
    box-shadow: .3rem .3rem 1rem black;
    border-radius: 10px;
}


section:last-of-type .container-50 {
    width: 50%;
    height: 100%;
}

.info-dc {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.info-dc>* {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-dc a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #B70811;
}

.info-dc h3,
span {
    width: 40.3%;
}

.info-dc h3 {
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

.info-dc span input {
    border: none;
    font-family: 'Montserrat';
    color: #B70811;
    font-size: 25px;
    width: fit-content;
    text-align: center;
}

.info-dc button {
    background-color: transparent;
    color: white;
    width: fit-content;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.info-dc button i {
    color: #B70811;
    font-size: 20px;
}

.title {
    position: relative;
}

.first-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-dc {
    margin: 4px;
    width: 80%;
}

.title a {
    position: absolute;
    right: 10px;
}

.first-container .info-dc:first-of-type span {
    font-weight: 600;
}

h3,
h4 {
    font-weight: 700;
    color: #B70811;
}

.first-container h3 {
    font-size: 1.5vw;
}

span {
    font-size: 1.3vw;
    color: #890209;
    user-select: none;
}

.chart-asignaturas {
    min-width: 60%;
    height: fit-content;
    padding: 10px;
    box-shadow: .3rem .3rem 1rem black;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    margin-right: 20px;
}



.header img {
    width: 320px;
    height: 90px;
}

.docente-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    position: relative;
}

.docente-container div {
    width: 83%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.docente-container div>* {
    width: 50%;
}

.docente-container button {
    width: fit-content;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.slide-out {
    animation: slideOut 0.5s ease-in-out;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {
    nav ul li {
        font-size: 12px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    .header img {
        width: 230px;
        height: 60px;
    }


}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    nav ul li {
        font-size: 13px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

}

@media only screen and (max-width: 550px) {
    .header img {
        width: 175px;
        height: 50px;
    }

    nav ul li {
        font-size: 10px;
        padding-left: 10px
    }

    nav {
        height: 50%
    }
}

@media only screen and (min-width: 1910px) and (min-height: 950px) {


    nav ul li {
        font-size: 26px;
    }

    main div:first-child section p {
        font-size: 22px;
    }

    main div:first-child section a {
        font-size: 25px;
    }

    .header img {
        width: 560px;
        height: 150px;
    }
}

@media only screen and (min-width: 1360px) and (min-height: 680px) {

    .first-container {
        position: relative;
        bottom: 15px;
    }

}